---
title: HOLY WATER ☩ No Regrets
---

<%= image_tag "holywater_h.png", class: "logo" %>
<header>
  <h1>HOLY WATER</h1>
</header>
<section>
  <strong>HOLY WATER</strong>. Een small-batch Gin uit Groningen. Gedestilleerd en met de hand gebotteld bij Mofongo's Distillery.
</section>
<%= image_tag("gingredients.jpg") %>
<section>
  <p>
    Opgericht door een groep vrienden met een gezonde dosis eigengereidheid en een ondernemende geest. Holy Water heeft de volle, ongefilterde, echte smaak van verse <em>botanicals</em> en is daarmee een echte gin-drinkers gin.
  </p>
</section>
<br>
<%= image_tag("botanicals.jpg") %>
<%= partial "contact" %>
<%= partial "footer" %>
