---
title: HOLY WATER ☩ No Regrets
---
<nav>
  <ul>
    <li>
      <a href="https://www.webshopderoemer.nl/webshop/holy-water-gin-groningen">Holy Water kopen</a>
    </li>
    <li>
      <a href="https://www.webshopderoemer.nl/webshop/holy-water-gin-nieuw-groningen">Holy Water East kopen</a>
    </li>
  </ul>
</nav>
<%= image_tag "holywater_h.png", class: "logo" %>
<header>
  <h1>HOLY WATER</h1>
</header>
<section>
  <strong>HOLY WATER</strong>. Een small-batch Gin uit Groningen. Gedistilleerd bij Distilleerderij Alambik en met de hand gebottled.
</section>

<div class="photos">
  <div><%= image_tag("bottles/hw-bottle.png") %></div>
  <section class="mobile-only">
    <p>
      Opgericht door een groep vrienden met een gezonde dosis eigengereidheid en een ondernemende geest. Holy Water heeft de volle, ongefilterde, echte smaak van verse <em>botanicals</em> en is daarmee een echte gin-drinkers gin.
    </p>
    <a href="https://www.webshopderoemer.nl/webshop/holy-water-gin-groningen">Bestel nu</a>
  </section>
</div>

<section class="desktop-only">
  <p class="desktop-only">
    Opgericht door een groep vrienden met een gezonde dosis eigengereidheid en een ondernemende geest. Holy Water heeft de volle, ongefilterde, echte smaak van verse <em>botanicals</em> en is daarmee een echte gin-drinkers gin.
  </p>
  <a href="https://www.webshopderoemer.nl/webshop/holy-water-gin-groningen">Bestel nu</a>
</section>

<section>
  <h1>HOLY WATER EAST</h1>
  <p>
    Holy Water East onderscheidt zich door minder jeneverbes en de toevoeging van specifieke smaken als kentjoer en thaise basicilum.
  </p>
  <a href="https://www.webshopderoemer.nl/webshop/holy-water-gin-nieuw-groningen">Bestel nu</a>

  <div class="photos">
    <div><%= image_tag("bottles/hw-east-bottle.png") %></div>

  </div>
</section>
<%= partial "contact" %>
<%= partial "footer" %>
